
<%=render 'error',book:@book %>
<div class="container">
<div class="row">
    <div class="col-md-3">
    <h2 class="mt-3">User info</h2>
<%=image_tag @book.user.get_profile_image(200,200) %>
<table class="table table-border-top">
  <tr>
    <th>name</th>
    <td><%=@book.user.name %></td>
  </tr>
  <tr>
  <th>introduction</th>
  <td><%=@book.user.introduction %></td>
  </tr>
</table>
<%#<% if @book.user==current_user %>
　<%= link_to edit_user_path(@book.user.id),class: "btn btn-outline-secondary btn-block" do %>
  <i class="fa-solid fa-user-gear"></i>
　<% end %>
<%#<% end %>

<h2 class="mt-4">New book</h2>

<%=form_with model:@bookn do |f|%>
<h6>Title</h6>
<%=f.text_field:title %>
<h6 class="mt-3">Body</h6>
<%=f.text_area:body,class: "mb-2" %>
<p><%=f.submit 'Create Book',class: "btn btn-success" %></p>
<% end %>
</div>
<div class="col-md-8 offset-md-1">
<h2 class="mt-3">Book detail</h2>
<table class="table table-border-top">
  <td><%=image_tag @book.user.get_profile_image(150,150) %><br>
  <%=link_to @book.user.name,user_path(@book.user.id) %></td>
  <td><%=@book.title %></td>
  <td><%=@book.body %></td>
  <% if @book.user==current_user %>
  <td>
    <%=link_to "Edit",edit_book_path(@book.id),class: "btn btn-success p-1"%>
  </td>
  <td>
    <%=link_to "Destroy",book_path(@book),method: :delete,"data-confirm"=>"本当に削除しますか?",class: "btn btn-danger p-1" %>
    <% end %>
  </td>
  </tr>
  </table>


</div>
</div>
</div>